@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Repository Pattern</h1>
    <p>Go to "Customers" to create new customer records.</p>
</div>
