@using MrJB.RepositoryPattern.Data.Extensions
@model KafkaModels.Models.Customer.Customer
@{
    ViewData["Title"] = "Delete";

    var messageSuccess = Convert.ToString(TempData["MessageSuccess"]);
    var messageError = Convert.ToString(TempData["MessageError"]);

    var fullName = $"{Model.FirstName} {Model.LastName}";
}

<h4>Delete Customer: @fullName</h4>
<hr />

@if (!String.IsNullOrWhiteSpace(messageError))
{
    <div class="alert alert-danger">@messageError</div>
}

@if (!String.IsNullOrWhiteSpace(messageSuccess))
{
    <div class="alert alert-success">@messageSuccess</div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="DeleteAction">
            @Html.Hidden("id", Model.GetCustomerId())
            <div class="form-group">
                <input type="button" value="Cancel" class="btn btn-secondary" onclick="window.history.back();" />
                <input type="submit" value="Delete" class="btn btn-danger"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

